<%= javascript_include_tag "d3" %>
<%= javascript_include_tag "bootstrap" %>
<div class="container" style="padding:20px 0">
<h1>Amazon App</h1>
<p>キーワードで本のタイトルを検索:</p>
<p>
<%= form_tag('/amazon/search', method: :get) do %>
  <% text_field :search, :keyword do |f| %>
  <% end %>
<% end %>
</p>
<span>
<%= javascript_tag do %>
   var nodes = <%= @results[:books].to_json.html_safe %> ;
   var links = <%= @results[:links].to_json.html_safe %> ;
   var w = 800;
   var h = 600;

   var force = d3.layout.force()
                 .nodes(nodes)
                 .links(links)
                 .size([w, h])
                 .linkStrength(1)
                 .friction(0.9)
                 .distance(300)
                 .charge(-200)
                 .gravity(0.1)
                 .theta(0.8)
                 .alpha(0.1)
                 .start();

    var svg = d3.select("span").append("svg").attr({width:w, height:h});
    var link = svg.selectAll("line")
                  .data(links)
                  .enter()
                  .append("line")
                  .style({"stroke": "#ccc",
                          "stroke-width": 1});

    var g = svg.selectAll("g")
                  .data(nodes)
                  .enter()
                  .append("g")
                  .call(force.drag);

    var node = g.append("circle")
                  .attr({r: 20,
                         opacity: 0.5})
                  .style({"fill": "red"})

    var label = g.append("text")
                    .attr({"text-anchor":"middle",
                           "fill":"black"})
                    .style({"font-size":11})
                    .text(function(d) { return d.title; });

    force.on("tick", function() {
      link.attr({x1: function(d) { return d.source.x; },
                 y1: function(d) { return d.source.y; },
                 x2: function(d) { return d.target.x; },
                 y2: function(d) { return d.target.y; }});
      g.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    });
<% end %>
</span>
<table class="table">
<thead>
<tr>
  <th>From</th><th>To</th>
</tr>
</thead>
<tbody>
<% @results[:links].each do |link| %>
<tr>
  <td><%= link[:from_title] %></td><td><%= link[:to_title] %></td>
</tr>
<% end %>
</tbody>
</table>
</div>

