<%= javascript_include_tag "d3" %>
<%= javascript_include_tag "bootstrap" %>
<div class="container" style="padding:20px 0">
<h1>Amazon App</h1>
<p>
<%= form_tag('/amazon/search', method: :get) do %>
  <%= label_tag :keyword, "Amazonから検索: " %>
  <%= text_field_tag :keyword %>
  <%= submit_tag "Search" %>
<% end %>
</p>

<%= render 'graph' %>

<table class="table">
<thead>
<tr>
  <th>From</th>
  <th>To</th>
</tr>
</thead>
<tbody>
<% @links.each do |link| %>
<tr>
  <td><%= link[:from_title] %>
  <td><%= link[:to_title] %>
</tr>
<% end %>
</tbody>
</table>
</div>

